html{
   height: 100%;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/v748-toon-111.jpg");
  height: 100vh;
  justify-content: center;
  align-items: center;
}


#mobile_menu_btn{
  display: none;
}
.nav_footer{
  display: none;
}
.nav_link{
  display: none;
}
.nav_menu{
  display:block;
}

.menu_btn{
  display: inline;
  text-decoration: none;
  color:aliceblue;
  text-transform: uppercase;
  font-family: 'Commissioner', sans-serif;
  font-size: 1.2vw;
  cursor: pointer;
}

.menu_btn:hover {
  color: #e3f78d;
  font-size: 1.2vw;
  transition: color 0.3s linear;
}

.nav_menu img{
  display: none;
}

/* ------------------------------------------- */
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#in{
  display: none;
}
header {
  width: 100%;
	box-shadow: -2px 0 15px rgba(0, 0, 0, .7);;
  z-index: 100;
  background-color: rgba(51, 59, 70, 1);
  text-align: center;
}
header li{
  text-transform: uppercase;
}

header h1{
  font-size: 3.5vw;
}
#logo{
  width: 20%;
  display: inline;
  float: left;
  margin-left: 3vw;
  padding: 1vw;
}
a{
  text-decoration: none;
  color: white;
}
ul{
  display: inline-block;
  width: 60vw;
  margin-top: 3vh;
  
  padding: 1.5vw;
  overflow: hidden;
  list-style-type: none;
}
#footer_ul{
  margin-top: 1vh;
  width: 72vw;
}
li {
  width: 20vw;
  float: left;
  padding: 0;
   /* border-right: 1px solid #bbb; */
}
#footer_li{
  width: 24vw;
}
li button{
  display: inline;
  height: 100%;
  width: 100%;
  background-color: rgba(51, 59, 70, 1);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  padding: 1vw;
  border: none;
}
/* СТРЕЛОЧКА НА СКРОЛЛ */
.arrow-top-2 {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 90%;
  right: -2%;
  width: 8vw;
  height: 4vw;
  z-index: 1000;
}

.arrow-top-2 path {
  fill: rgb(54, 53, 43);
  stroke: #737c5c;
  transition: fill 0.5s ease-out;
  cursor: pointer;
}

.arrow-top-2 {
  transform: rotate(270deg);
}

.arrow-top-2 path:hover {
  fill: #e3f78d;
}

/*--------------------------------*/



#main_img{
  display: inline;
  width: 35%;
  height: auto;
  float: left;
  margin-right:2vw;
  margin-bottom:0.5vw;
  top:50%;
  filter: brightness(80%);
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
}
#main{
  display: inline;
  /* position  : relative; */
  margin-top: 2vh;
  background-color: rgba(51,59,70,1);
  height: auto !important;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  height: 85vh;
  border-radius: 2vw;
  padding-bottom: 5%;
}
#main_ul {
  position: absolute;
  width: 55vw;
  top: 55%;
  left: 7%;
  z-index: 5;
}

.main_li {
  display: block;
  width: 45vw;
  z-index: 5;
  font-size: 1.5vw;
  color: rgba(254, 228, 195, 1);
  list-style-type: circle;
}

#main_img_circle {
  position: absolute;
  width: 59vh;
  height: 59vh;
  top: 5%;
  left: 67%;
  z-index: 5;
}
.main_content{
  margin-bottom: 3vw;
}
#main_text{
  padding: 0vw;
  padding-left: 0;
  margin: 0;
  height: auto;
  width: 100%;
  background-color: rgba(51,59,70,1);
  border-radius: 2vw;
}
h1.main{
  width: 100%;
  text-align: center;
  /* position  : absolute; */
  /* top: 5%;
  left: 5%; */
  /* z-index: 5; */
  font-size: 2.5vw;
  color: rgba(255,255,255,1);
  font-family: 'Commissioner', sans-serif;
}
p.main{
  margin: 0;
  margin-left: 5%;
  margin-top: 2%;
  width: 90%;
  line-height: 2.5vw;
  font-size: 2vw;
  color: rgba(254,228,195,1);
  text-align: left;
}

.line{
  margin-top: 2vh;
  position: relative;
  width: 100%;
  height: 9vh;
  background-color: rgba(51,59,70,1);
}
#line_img_1{
  position: absolute;
  width: 95%;
  z-index: 4;
  height: 5vh;
  top: 2vh;
  left: 5%;
}
h1.line_1{
  text-align: center;
  position: absolute;
  width: 34%;
  top: 15%;
  height: auto;
  margin:0;
  left: 33%;
  z-index: 5;
  font-size: 2.5vw;
  color: rgba(255,255,255,1);
  background-color: rgba(51,59,70,1);
  font-family: 'Commissioner', sans-serif;
}
#services_block{
  margin-top: 2vh;
  background-color: rgba(51,59,70,1);
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 2vw;
}
#services_ul{
  width: 76%;
  margin-left: 12%;
  margin-top: 0;
  margin-bottom: 0;
}
.services_li{
  display:block;
  width: 100%;
  list-style-type:none;
  margin-top: 2%;
}
.services_li p{
    font-size: 2vw;
    line-height: 2.5vw;
    color: rgba(254,228,195,1);
}
footer{
  margin-top: 2vh;
  background-color: rgba(51,59,70,1);
  font-family: 'Commissioner', sans-serif !important;
}
#f_logo{
  display: inline;
  float: left;
  width: 15vw;
  height: 10vh;
  margin-left: 5vw;
  padding: 1vw;
}
li p{
  display: inline;
  height: 100%;
  width: 100%;
  /* background-color: rgba(51, 59, 70, 1); */
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  /* padding: 1vw; */
  border: none;
}
#contacs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 40%;
  background: linear-gradient(132deg, #f8f8f6, #f1efdc, #e8ebe4);
  animation: Gradient 15s ease infinite;
  overflow: hidden;
  font-family: 'Commissioner', sans-serif;
}

#contacs p{
  margin-top: 5%;
  padding-left: 15%;
  font-size: 3vw;
}

#contacs input,
textarea{
  margin: 2%;
  margin-left: -10%;
  width: 90%;
  height: 20%;
}


#contacs form{
  height: 40%;
  padding-left: 25%;
}

form .com{
  height: 60%!important;
}


.cube {
  position: absolute;
  top: 8vh;
  left: 4vw;
  width: 10px;
  height: 10px;
  border: solid 1px #50504f;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 50vw;
  top: 15vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 30vw;
  top: 70vh;
}
.cube:nth-child(4) {
  animation-delay: 5s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 6s;
  left: 17vw;
  top: 28vh;
}
.cube:nth-child(6) {
  animation-delay: 7s;
  left: 5vw;
  top: 50vh;
}

.send {
  width: 20%;
  cursor: pointer;
  background: transparent;
  border: 2px solid #a2ac7a;
  outline: none;
  transition: 1s ease-in-out;
  color:#a2ac7a;
}

.send:hover {
  transition: 1s ease-in-out;
  color:#FFF;
  border: 2px solid #ffffff;
}

.send:hover input {
  stroke-dashoffset: -480;
}


@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}



























@media screen and (min-width: 100px) and (max-width: 480px){
  header{
    /* position: fixed;   */
    top: 0;  
    z-index: 100; 
    width: 100%;
    background-color:rgba(51,59,70,1);
    text-align: center;
    color: #000;
    height: 12vw;
  }
  #logo{
    width: 40%;
    display: inline;
    margin-left: 5vw;
    padding: 1vw;
  }
  header ul{
    width: 70vw;
    height: 100%;
    margin-top: 0;
  }
  header li{
    width: 23vw;
    height: 90%;
  }
  header button{
    font-size:2.8vw;
  }
  header img{
    height: 75%;
  }
  footer{
    height: 17vw;
  }
  footer ul{
    width: 73vw;
    height: 90%;
    margin: 0;
  }
  footer li{
    width: 24vw;
    height: 90%;
  }
  footer p{
    font-size:2.8vw;
  }
  #main_img{
    display: inline;
    width: 35%;
    height: auto;
    float: left;
    margin-right:2vw;
    margin-bottom:0.5vw;
    top:50%;
    filter: brightness(80%);
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
  }
  #main{
    display: inline;
    /* position  : relative; */
    margin-top: 2vh;
    background-color: rgba(51,59,70,1);
    height: auto !important;
    width: 94%;
    margin-left: 3%;
    height: 85vh;
    border-radius: 2vw;
  }
  #main_text{
    padding: 2vw;
    padding-left: 0;
    margin: 0;
    height: auto;
    width: 100%;
    background-color: rgba(51,59,70,1);
    border-radius: 2vw;
  }
  h1.main{
    width: 100%;
    text-align: center;
    /* position  : absolute; */
    /* top: 5%;
    left: 5%; */
    /* z-index: 5; */
    font-size: 3.5vw;
    color: rgba(255,255,255,1);
  }
  p.main{
    margin: 0;
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
    line-height: 4vw;
    font-size: 4.7vw;
    color: rgba(254,228,195,1);
    text-align: left;
  }
  #services_ul{
    width: 76%;
    margin-left: 12%;
  }
  .services_li{
    display:block;
    width: 100%;
    list-style-type:none;
    margin-top: 2%;
  }
  .services_li p{
    font-size: 3vw;
    line-height: 4vw;
    color: rgba(254,228,195,1);
  }
  #line_img_2{
    position: absolute;
    width: 95%;
    z-index: 4;
    height: 5vh;
    top: 1vh;
    left: 0%;
  }
  h1.line_2{
    text-align: center;
    position: absolute;
    width: 36%;
    height: auto;
    margin:0;
    top: 15%;
    left: 32%;
    z-index: 5;
    font-size: 3.5vw;
    color: rgba(255,255,255,1);
    background-color: rgba(51,59,70,1);
  }
  .line{
    margin-top: 1vh;
    width: 100%;
    height: 7vh;
  }
  li {
    width: 20vw;
    float: left;
    padding: 0;
    /* border-right: 1px solid #bbb; */
  }
  li button{
    display: inline;
    height: 100%;
    width: 100%;
    background-color: rgba(51,59,70,1);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 1vw;
    border: none;
  }
  li p{
    display: inline;
    height: 100%;
    width: 100%;
    background-color: rgba(51,59,70,1);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 1vw;
    border: none;
  }
  #line_img_1{
    width: 95%;
    z-index: 4;
    top: 2.5vh;
    height: 2vh;
    left: 5%;
  }
  h1.line_1{
    width: 60%;
    height: 4vh;
    margin:0;
    top: 2vh;
    left: 20%;
    z-index: 5;
    font-size: 3.5vw;
  }
  #labs_block{
    margin-top: 1vh;
    width: 87%;
    padding-left: 13%;
  }
  .lab_cart{
    display: block;
    width: 87%;
    height: 40vh;
    border-radius: 2.5vw;
    margin-right: 0;
    margin-bottom: 1vh;
  }
  .lab_img{
    height: 40vh;
    width: 100%;
    border-radius: 2.5vw;
  }
  h2.lab_cart_t{
    width: 90%;
    top: 5%;
    left: 5%;
    z-index: 5;
    font-size: 5vw;
  }
  p.lab_cart_t{
    width: 95%;
    top: 30%;
    left: 2.5%;
    z-index: 5;
    font-size: 4.7vw;
  }
  #f_logo{
    display: inline;
    float: left;
    width: 18vw;
    height: 60%;
    margin-left: 5vw;
    padding: 1vw;
    margin-left: 3vw;
  }
  .arrow-top-2 {
    right: 4%;
    scale: 2;
  }
  /* МОДАЛЬНОЕ ОКНО */
  #contacs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 80%;
    background: linear-gradient(132deg, #f8f8f6, #f1efdc, #e8ebe4);
    animation: Gradient 15s ease infinite;
    overflow: hidden;
    font-family: 'Commissioner', sans-serif;
  }
  #contacs p{
    margin-top: 3%;
    padding-left: 13%;
    font-size: 5vw;
  }
  #contacs input{
    margin: 2%;
    width: 90%;
    height: 50%;
  }
  #contacs form{
    height: 25%;
    padding-left: 10%;
  }

form .com{
  height: 100%!important;
}

#contacs input,
textarea{
  margin: 2%;
  width: 90%;
  height: 60%;
}
 /* МОБИЛЬНОЕ МЕНЮ */

#mobile_menu_btn{
  display: block;
  visibility: visible;
  position: fixed;
  top: 2vw;
  right: 3vw;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #ced6a1;
  background-image: url("../images/icons8-меню-35.png");
  z-index:10;
}

#mobile_menu{
  display: none;
  padding: 5%;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ffffff;
  font-family: 'Commissioner', sans-serif;
  position: relative;
  overflow-x: hidden;
}

#mobile_menu .fancybox-close-small{
padding: 0%;
top: 3vw;
  right: 3vw;
  width: 10vw;
  height: 10vw;
cursor: pointer;
z-index: 401;
}

#mobile_menu ul{
  width: 100%;
}

#mobile_menu a{
  display: flex;
  text-decoration: none;
  font-size: 7vw;
  margin-top: 9%;
  margin-left: 5%;
  position: relative; 
  overflow-x: hidden; 
  height: 7vh;
  background: linear-gradient(45deg, #535351 22%, #e4e1b1 55%, #ced6a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #546581;
}

.nav_menu img{
  display: block;
  margin-right: 5%;
}


#mobile_menu li{
  width: 100%;
}

.nav_link{
  display: block;
  visibility: visible;
  border-bottom: 2px solid;
}
.nav_link h1{
  font-size: 6vw;
  margin-bottom: 5vh;
  /* background: linear-gradient(45deg, #e9e9b4 22%, #f3eeae 55%, #d6d1a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color:#d2e7a6;
 
}
.nav_link p{
  font-size: 4vw;
  margin-bottom: 2vh;
  margin-left: 3vw;
}

.nav_link .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg); 
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear; 
}

.nav_footer .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg); 
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear; 
}

.nav_menu .flare {
  position: absolute;
  top: 0;
  height: 100%;
  width: 45px;
  transform: skewX(-45deg); 
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 3s infinite linear; 
}
.nav_footer{
  display: inline;
  visibility: visible;
  width: 326px;
  position: absolute;
  border-top: 2px solid;
  bottom:2%;
  }
  
  .nav_footer img{
    margin-top: 3%;
    width: 150px;
    margin-right: 3%;
    }
  
  .nav_menu{
    display: block;
    visibility: visible;
    margin-top: 30%;
  }
  
@keyframes flareAnimation {
  0% {
      left: -150%;
  }
  100% {
      left: 150%;
  }
}


header{
  height: 8vh;
}
footer{
  display: none;
}

}
arrow{
  position: absolute;
  width: 3vw;
  right: 2%;
  top: 50%;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 2vw;
  line-height: 24px;
  background-color: black;
  color: rgba(254,228,195,1);
  display: block;
}

.arrow:focus{
  outline: none;
}

.arrow:hover{
  background: #ccc;
  cursor: pointer;
}

.prev{
  left: 7px;
}

.next{
  right: 7px;
}

.gallery{
  margin-left: 1.7vw;
  margin-right: 1.7vw;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.gallery ul{
  white-space: nowrap;
  width: 150vw;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 450ms;
  /* удаляем пустое пространство между элементами li, у которых установлен inline-block */
 
  font-size: 0;
}


.gallery li{
  display: inline-block;
  height: 100%;
  width: 25vw;
  margin-right: 2.2vw;
}

.project_cart{
  display: inline-block;
  background-color: rgba(51,59,70,1);
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 2vw;
  margin-right: 2%;
}
.project_img{
  height: 100%;
  width: 100%;
  filter: brightness(50%);
  border-radius: 2vw;
}
p.project_cart_t{
  position: absolute;
  text-align: center;
  margin:0;
  padding:0;
  height: auto;
  top: 35%;
  z-index: 1;
  font-size: 1.5vw;
  background-color: transparent;
  color: rgba(254,228,195,1);
  white-space: normal;
}

.projects-fancy{
  display: none;
  width: 55vw;
  height: 40vw;
  padding: 0;
}

.pic-fancy{
  width: 100%;
  height: auto;
  margin-top: 1vw;
}

.fancy-pic{
  width: 50%;
  height: auto;
  float: right;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fancy-text{
  width: 50%;
  height: auto;
  float: left;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 1vw;
}

.gal_h2{
  font-size:2vw;
  margin: 0;
}
.gal_p{
  font-size:1.6vw;
}